body{
	font-family: Roboto, sans-serif;
	color: #222222;
}
h1{
	border-bottom-style: solid;
	border-color: #aaaaaa;
	border-bottom-width: 2px;
	font-size: 2rem;
	font-variant: small-caps;
	text-align: center;
	font-weight: 400;
}
h2{
	border-bottom-style: solid;
	border-color: #aaaaaa;
	border-bottom-width: 1px;
	font-size: 1.5rem;
	font-weight: 500;
}
h3{
	font-size: 1.3rem;
	font-weight: 600;
}
.block{
	margin: 15px 40px;
	padding: 15px;
	width: 250px;
	background-color: #eeeeee;
	border-radius: 3px;
	border-style: solid;
	border-size: 1px;
	border-color: #dddddd;
}
img{
	width: 100%;
	border-radius: 3px;
}
#dd{
	font-size: 0.8rem;
	font-style: italic;
}
#hh{
	font-weight: 600;
}	
p{
	text-align: justify;
	text-indent: 40px;
}
a:link{
	color: #0088ff;
    text-decoration: none;
}
blockquote{
	padding: 15px;
	font-style: italic;
	background-color: #eeeeee;
	border-radius: 3px;
	border-color: #dddddd;
	border-style: solid;
	border-width: 1px;
}
#right{
	float: right;
}
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url(fonts/3966.ttf);
}